/*navigation bar style start*/

#div-main-of-nav{
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    z-index: 1000;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    margin-left: 60%;
    z-index: 1000;

}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 14px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;

    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav > .nav-links > a:hover {
    background-color: transparent;
    animation: underline 5s infinite;
    color:#273c75 ;
    cursor:grab;
}
.nav-links> a::before {
    content: '';
    display: block;
    bottom: 3px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #273c75;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.nav-links>a:hover::before,.nav-links>a:focus::before{
    transform-origin: left top;
    transform: scale(1,1);

}
.nav > #nav-check {
    display: none;
}
.nav-links.stroke,
.nav-links.fill{
    position: relative;
}

@media only screen and (max-width: 600px){
    .nav{
        background-color: transparent;
        z-index:0;
        width: 100%;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
       left: 25%;
    }
    .nav-links> a::before{
        background-color: white;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: transparent;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid black;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: transparent;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
@media only screen and (min-width: 601px) and (max-width: 799px){
    .nav{
        background-color: transparent;
        z-index:0;
        width: 100%;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        left: 33%;
    }
    .nav-links> a::before{
        background-color: white;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: transparent;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid black;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: transparent;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
@media only screen and (min-width: 800px)and (max-width: 1025px){
    .nav {
        margin-left: 50%;
    }
}

/*side show css start*/

#div-of-sideshow{
    position: relative;
    width: 100%;
    height: max-content;
    float: left;
}
#div-of-sideshow>img{
    width: 100%;
    margin-top: 2%;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    animation: slideshow 24s infinite ;
}
#div-of-sideshow>img:nth-child(2){
    z-index: 4;
    animation-delay: 4s;
}
#div-of-sideshow>img:nth-child(3){
    z-index: 3;
    animation-delay: 8s;
}
#div-of-sideshow>img:nth-child(4){
    z-index: 2;
    animation-delay: 12s;
}
#div-of-sideshow>img:nth-child(5){
    z-index: 1;
    animation-delay: 16s;
}
@keyframes slideshow {
    25%{
        opacity: 1;
    }
    33.33%{
        opacity: 0;
    }
    91.6%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    #div-of-sideshow>img{
        width: 100%;
        overflow-x: hidden;
        margin-top: 10%;
        top: 0;
        left: 0;
    }
}
@media only screen and (min-width: 601px) and (max-width: 799px) {
    #div-of-sideshow>img{
        width: 100%;
        overflow-x: hidden;
        margin-top: 10%;
        top: 0;
        left: 0;
    }
}
/*side show css end*/


/*category selector css start*/

/*css of category selector*/
#div-of-category{
    position: relative;
    width: 100%;
    height: 50%;
    float: left;
    margin-top: 64vw;

}
#listImg{
    position: relative;
    float: right;
    top: 4px;
    right: 41%;
}
#h1-of-category{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#div-of-select-category{
    position: relative;
    top: 4vh;
    width: 100%;
}
#hr-of-categories{
    position: relative;
}
#div-of-category-h1{
    position: relative;
}



/*.div {*/
/*  flex: 1;*/
/*  overflow: hidden;*/
/*  width: 100%;*/
/*  height: 50%;*/
/*  transition: .5s;*/
/*  margin: 0 2%;*/
/*  line-height: 0;*/
/*}*/


/*.div > img {*/
/*  width: 200%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*  transition: .5s;*/
/*}*/

.container-of-div {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 70vh;
    position: relative;
}

.box-of-picture {
    flex: 1;
    width: 100%;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}
.ancor{
    text-decoration: none;
    color: black;
}
.ancor:hover{
    text-decoration: none;
    color: black;
}
.img{
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.spn {
    font-size: 3.0vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    font-weight: bold;
}

.box-of-picture:hover { flex: 1 1 100%; }
.box-of-picture:hover{
    width: 100%;
    object-fit: cover;
}
.img:hover{
    width: 100%;
    object-fit: cover;
}


/*.div:hover { flex: 1 1 50%; }*/
/*.div:hover > img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
#hr-of-categories{
    background-color:#bdc3c7 ;
    position: relative;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    #div-of-category{
        margin-top: 80vw;
    }
    #listImg{
        right: 0%;
    }
    .box-of-picture > span {
    font-size: 10px;
    }
    #h1-of-category{
        font-size: 20px;
    }
    #div-of-select-category{
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 799px) {
    #div-of-category{
        margin-top: 90vw;
        margin-left: 0vw;
        padding-left: 2vw;
    }
    .box-of-picture > span {
        font-size: 2vh;
    }
    #h1-of-category{
        font-size: 24px;
    }
    #div-of-select-category{
        margin-left: 0vw;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1025px) {
    #div-of-category{
        margin-top: 72vw;
    }
    .box-of-picture > span {
        font-size: 2.2vh;
    }
}
/*category selector css end*/

/*populor product css start*/
#main-div-of-populer-product{
    position: relative;
    width: 100%;
    height: auto;
    top: 7vw;
    float: left;

}
#div-of-new-collecton-h1{
    float: left;
    width: 100%;
}
#h1-of-new-collection{
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


#hr-of-new-collection{
    background-color:#bdc3c7 ;
    margin-left: 40px;
    margin-right: 10px;
}
#div-of-collection-images{
    position: relative;
    top: 10%;
    width: 100%;
    float: left;
}
.grid-container-of-populer-product{
    width: 100%;
    position: relative;
    float: left;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    /*background-color:#FC427B;*/
}

.grid-item-of-populer-product{
    margin-top: 30px;
    margin-left: 10%;
}
.grid-item-of-populer-product:nth-child(1){
    margin-top: 70px;
}
.grid-item-of-populer-product:nth-child(2){
    margin-top: 70px;
}
.grid-item-of-populer-product:nth-child(3){
    margin-top: 70px;
}
.grid-item-of-populer-product:nth-child(4){
    margin-top: 70px;
}
.example-card-of-populer-product {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 1px 0px 2px 2px #bdc3c7;
    border-radius: 10px 10px 10px 10px;

}
.card-body{
    padding-top: 2px;
}
.card-body>p:nth-child(1){
    font-family: 'Oswald', sans-serif;
    font-weight: revert;
    font-size: 18px;
    color: #273c75;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.card-body>p:nth-child(2){
    font-family: 'Oswald', sans-serif;
    font-weight: revert;
    font-size: 15px;
    color: #273c75;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.card-body>p:nth-child(3){
    font-family: 'Oswald', sans-serif;
    font-weight: revert;
    font-size: 15px;
    color: #273c75;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

@media only screen and (max-width: 600px){
   #main-div-of-populer-product{
       top: 18vw;
   }
    #h1-of-new-collection{
        font-size: 20px;
        margin-left: 20px;
    }
    #hr-of-new-collection{
        margin-left: 20px;
        margin-right: 20px;
    }
    #div-of-collection-images{
        top: 5%;
    }
    .grid-container-of-populer-product{
        grid-template-columns: auto auto;
    }
    .grid-item-of-populer-product{
        margin-top: 20px;
        margin-left: 3%;
        margin-right: 2px;
    }
    .grid-item-of-populer-product:nth-child(1){
        margin-top: 10px;
    }
    .grid-item-of-populer-product:nth-child(2){
        margin-top: 10px;
    }
    .grid-item-of-populer-product:nth-child(3){
        margin-top: 20px;
    }
    .grid-item-of-populer-product:nth-child(4){
        margin-top: 20px;
    }
    .example-card-of-populer-product {
        max-width: 100%;
        max-height: 100%;

    }
    .card-body{
        padding-top: 1px;
    }
    .card-body>p:nth-child(1){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(2){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }

    .card-body>p:nth-child(3){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 799px) and (min-width: 601px){
    #main-div-of-populer-product{
        top: 20vw;
    }
    #h1-of-new-collection{
        font-size: 20px;
        margin-left: 20px;
    }
    #hr-of-new-collection{
        margin-left: 20px;
        margin-right: 20px;
    }
    #div-of-collection-images{
        left: 0%;
        top: 5%;
    }
    .grid-container-of-populer-product{
        grid-template-columns: auto auto auto;
    }
    .grid-item-of-populer-product{
        margin-top: 20px;
        margin-left: 10px;
    }
    .grid-item-of-populer-product:nth-child(1){
        margin-top: 10px;
    }
    .grid-item-of-populer-product:nth-child(2){
        margin-top: 10px;
    }
    .grid-item-of-populer-product:nth-child(3){
        margin-top: 10px;
    }
    .grid-item-of-populer-product:nth-child(4){
        margin-top: 20px;
    }
    .example-card-of-populer-product {
        max-width: 100%;
        max-height: 100%;

    }
    .card-body{
        padding-top: 1px;
    }
    .card-body>p:nth-child(1){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(2){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }

    .card-body>p:nth-child(3){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1025px) {
    #main-div-of-populer-product{
        top: 20vw;
    }
    #div-of-new-collecton-h1{
        top: 40%;
    }
    #h1-of-new-collection{
        margin-left: 20px;
        font-size: 24px;
    }
    #hr-of-new-collection{
        margin-left: 20px;
        margin-right: 10px;
    }
    #div-of-collection-images{
        top:0;
        left: 10%;
    }
    .grid-container-of-populer-product{
        grid-template-columns: auto auto auto;
        background-color:white;
    }
    .grid-item-of-populer-product{
        margin-left: 2px;
    }
    .grid-item-of-populer-product:nth-child(1){
        margin-top: 30px;
    }
    .grid-item-of-populer-product:nth-child(2){
        margin-top: 30px;
    }
    .grid-item-of-populer-product:nth-child(3){
        margin-top: 30px;
    }
    .grid-item-of-populer-product:nth-child(4){
        margin-top: 30px;
    }
    .grid-item-of-populer-product{
        margin-top: 20px;
    }
    .example-card-of-populer-product{
        width: 95%;
        height: 95%;
    }
    .card-body{
        padding: 2px;
    }
    .card-body>p:nth-child(1){
        font-size: 13px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(2){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(3){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
}
/*populer product css end*/



/*new arrivals css start*/

#div-of-new-arivals{
    position: relative;
    float: left;
    top: 17vw;
}
#div-of-new-arrivals-h1{
    position: relative;
    width: 100%;
    float: left;
}

#h1-of-new-arrivals{
    margin-left: 40px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#hr-of-new-arrivals{
    background-color:#bdc3c7 ;
    margin-left: 40px;
    margin-right: 10px;
}
#div-of-new-arrivals-tabs{
    position: relative;
    float: left;
    margin-top: 5%;
    width: 100%;

}
.grid-container-of-new-arrivals{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color:white;
}
.grid-item-of-new-arrivals{
    margin-top: 30px;
    margin-left: 10%;
}
.grid-item:nth-child(1){
    margin-top: 70px;
}
.grid-item:nth-child(2){
    margin-top: 70px;
}
.grid-item:nth-child(3){
    margin-top: 70px;
}
.grid-item:nth-child(4){
    margin-top: 70px;
}
.example-card-new-arrivals {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 2px 2px 2px 2px#bdc3c7;
    border-radius: 10px 10px 10px 10px;

}
.card-body{
    padding-top: 2px;
}
.card-body>p:nth-child(1){
    font-family: 'Oswald', sans-serif;
    font-weight: revert;
    font-size: 18px;
    color: #273c75;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.card-body>p:nth-child(2){
    font-family: 'Oswald', sans-serif;
    font-weight: revert;
    font-size: 15px;
    color: #273c75;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}

.card-body>p:nth-child(3){
    font-family: 'Oswald', sans-serif;
    font-weight: revert;
    font-size: 15px;
    color: #273c75;
    margin-top: 2px;
    padding-left: 10px;
    margin-bottom: 0px;
}



.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

#btn-view-list{
    background-color:  #273c75;
}
#div-of-new-arrivals-view-list{
    position: relative;
    width: 100%;
    align-items: center;
    text-align: center;
    top: 3vh;
}
#btn-view-more{
    width: 9vw;
    height: 8vh;
    border-radius: 70px;
    border: 1px solid #273c75;
    border-color: #273c75;
    background-color: #273c75;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.ancor-btn{
    text-decoration: none;
    color: white;
}
.ancor-btn:hover{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 600px) {
    #div-of-new-arivals{
       top: 30vw;
    }
    #div-of-new-arrivals-h1{
        top: 40%;
    }
    #h1-of-new-arrivals{
        font-size: 15px;
        margin-left: 20px;
    }
    #hr-of-new-arrivals{
        margin-left: 20px;
        margin-right: 10px;
    }
    #div-of-new-arrivals-tabs{
        top: 0;

    }
    .grid-container-of-new-arrivals{
        grid-template-columns: auto auto;
        background-color:white;
    }
    .grid-item-of-new-arrivals{
        margin-right: 2px;
        margin-top: 20px;
       margin-left: 3%;
    }
    .grid-item:nth-child(1){
        margin-top: 30px;
    }
    .grid-item:nth-child(2){
        margin-top: 30px;
    }
    #btn-view-more{
       width: 20%;
        font-size: 10px;
    }
    .example-card-new-arrivals{
       width: 100%;
        height: 100%;
    }
    .example-card-new-arrivals>div>p{
        font-size: 12px;
    }
    .card-body{
        padding: 2px;
    }
    .card-body>p:nth-child(1){
        font-size: 13px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(2){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(3){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 799px) {
    #div-of-new-arivals{
        top: 30vw;
    }
    #div-of-new-arrivals-h1{
        top: 40%;
    }
    #h1-of-new-arrivals{
        font-size: 15px;
        margin-left: 20px;
    }
    #hr-of-new-arrivals{
        margin-left: 20px;
        margin-right: 10px;
    }
    #div-of-new-arrivals-tabs{
        top: 0;
        left: 0%;
    }
    .grid-container-of-new-arrivals{
        grid-template-columns: auto auto auto;
        background-color:white;
        margin-left: 2%;
    }
    .grid-item-of-new-arrivals{
        margin-right: 2px;
        margin-top: 20px;
        margin-left: 0;
    }
    .grid-item:nth-child(1){
        margin-top: 30px;
    }
    .grid-item:nth-child(2){
        margin-top: 30px;
    }
    #btn-view-more{
        width: 20%;
        font-size: 10px;
    }
    .example-card-new-arrivals{
        width: 95%;
        height: 100%;
    }
    .example-card-new-arrivals>div>p{
        font-size: 12px;
    }
    .card-body{
        padding: 2px;
    }
    .card-body>p:nth-child(1){
        font-size: 13px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(2){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(3){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 800px) {
    #div-of-new-arivals{
        top: 30vw;
    }
    #div-of-new-arrivals-h1{
        top: 40%;
    }
    #h1-of-new-arrivals{
        font-size: 24px;
        margin-left: 20px;
    }
    #hr-of-new-arrivals{
        margin-left: 20px;
        margin-right: 10px;
    }
    #div-of-new-arrivals-tabs{
        top: 0;
        left: 10%;
    }
    .grid-container-of-new-arrivals{
        grid-template-columns: auto auto auto;
        background-color:white;
    }
    .grid-item-of-new-arrivals{
        margin-left: 2px;
    }
    .grid-item:nth-child(1){
        margin-top: 30px;
    }
    .grid-item:nth-child(2){
        margin-top: 30px;
    }
    .grid-item:nth-child(3){
        margin-top: 30px;
    }
    .grid-item:nth-child(4){
        margin-top: 20px;
    }
    #btn-view-more{
        width: 30%;
        font-size: 10px;
    }
    .example-card-new-arrivals{
        width: 95%;
        height: 95%;
    }
    .card-body{
        padding: 2px;
    }
    .card-body>p:nth-child(1){
        font-size: 13px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(2){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
    .card-body>p:nth-child(3){
        font-size: 9px;
        margin-top: 2px;
        padding-left: 2px;
        margin-bottom: 0px;
    }
}
/*new arrivals css end*/


/*footer css start*/

#main-div-of-footer{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #2d3436;
    float: left;
    top: 40vw;
}

#row-div-1{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns:30% 40% 30%;
    float: left;
}
#footer-div-1{
    float: left;
    background-color: transparent;
}
#footer-div-2{
    float: left;
    background-color: transparent;
}
#footer-div-3{
    float: left;
    background-color: transparent;
}
#row-div-2{
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    float: left;
}
#p-of-address{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}


#sub-row-1{
    float: left;
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
}
#sub-row-2{
    float: left;
    width: 100%;
    height: 20%;
    background-color: transparent;
}
#address-name-div-1{
    width: 100%;
    height: 100%;
    text-align: right;
}
#address-name-div-2{
    width: 100%;
    height: 100%;
    text-align: left;
}
#logo-of-location{
    width: 30px;
    margin-top: 20px;
}
#locations-div-1{
    float: left;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
}
#locations-div-1>div{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}
#locations-div-1>div>p{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    display: inline-block;
    font-size: 15px;
}
#locations-div-2{
    float: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;

}
#locations-div-2>div{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}
#locations-div-2>div>p{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    display: inline-block;
    font-size: 15px;
}
#locations-div-3{
    float: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 50% 50%;
}
#locations-div-3>div{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}
#locations-div-3>div>p{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    display: inline-block;
    font-size: 15px;
}
#div-of-logo{
    width: 100%;
    height: 100%;
    align-items: center;
}
#asb-logo-in-footer{
    width: 400px;
    margin-left: 40px;
}
#sub-row-3{
    float: left;
    width: 100%;
    height: 15%;
    background-color: transparent;
    text-align: center;
}

#sub-row-3>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
#sub-row-4{
    float: left;
    width: 100%;
    height: 70%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-top: 20%;
}
#div-of-facebook{
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
#div-of-facebook>img{
    width: 50px;
    margin-left: 60px;
}
#div-of-instergram{
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;

}
#div-of-instergram>img{
    width: 50px;
    margin-left: 60px;
}

#div-of-twiter{
    float: left;
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
#div-of-twiter>img{
    width: 50px;
    margin-left: 60px;
}
#sub-row-5{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}
#sub-row-5>p{
    font-size: 15px;
    margin-top: 20px;
}
#sub-row-6{
    float: left;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
#footer-company-logo{
    float: left;
    width: 100%;
    height: 100%;
    align-items: center;
}
#footer-company-logo>img{
    width: 50px;

}
#footer-company-name{
    float: left;
    width: 100%;
    height: 100%;
}
#footer-company-name>p{
    font-size: 15px;
    max-height: 30px;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    #main-div-of-footer{
        width: 100%;
        height: auto;
        top: 40vw;
    }
    #row-div-1{
        width: 100%;
        height: auto;
        grid-template-columns:30% 40% 30%;
    }
    #row-div-2{
        width: 100%;
        height: 10vw;
        float: left;
    }
    #p-of-address{
        font-size: 12px;
        color: white;
        margin-top: 10px;
    }
    #sub-row-1{
        width: 100%;
        height: 20%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #sub-row-2{
        float: left;
        width: 100%;
        height: 20%;
    }
    #logo-of-location{
        width: 20px;
        margin-top: 10px;
    }
    #locations-div-1{
        float: left;
        margin-top: 10px;
    }
    #locations-div-1>div>p{
        font-size: 7px;
        margin-left: 20px;
    }
    #locations-div-2>div>p{
        font-size: 7px;
        margin-left: 20px;
    }
    #locations-div-3>div>p{
        font-size: 7px;
        margin-left: 20px;
    }
    #asb-logo-in-footer{
        width: 150px;
        margin-left: 10px;
        margin-top: 20px;
    }

    #sub-row-3>p{
        font-size: 12px;
        color: white;
        margin-top: 10px;
    }

    #div-of-facebook{
        margin-top: 10px;
    }
    #div-of-facebook>img{
        width: 15px;
        margin-left: 15px;
    }
    #div-of-instergram{
        margin-top: 10px;

    }
    #div-of-instergram>img{
        width: 15px;
        margin-left: 15px;
    }

    #div-of-twiter{
        margin-top: 10px;
    }
    #div-of-twiter>img{
        width: 15px;
        margin-left: 15px;
    }
    #sub-row-5>p{
        font-size: 7px;
        margin-top: 10px;
    }
    #footer-company-logo>img{
        width: 25px;

    }
    #footer-company-name>p{
        font-size: 7px;
        margin-top: 10px;
    }

}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    #main-div-of-footer{
        width: 100%;
        height: 50vw;
        top: 40vw;
    }
    #row-div-1{
        width: 100%;
        height: 40vw;
        grid-template-columns:30% 40% 30%;
    }
    #row-div-2{
        width: 100%;
        height: 10vw;
        float: left;
    }
    #p-of-address{
        font-size: 17px;
        color: white;
        margin-top: 10px;
    }
    #sub-row-1{
        width: 100%;
        height: 20%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #sub-row-2{
        float: left;
        width: 100%;
        height: 20%;
    }
    #logo-of-location{
        width: 30px;
        margin-top: 10px;
    }
    #locations-div-1{
        float: left;
        margin-top: 10px;
    }
    #locations-div-1>div>p{
        font-size: 15px;
        margin-left: 20px;
    }
    #locations-div-2>div>p{
        font-size: 15px;
        margin-left: 20px;
    }
    #locations-div-3>div>p{
        font-size: 15px;
        margin-left: 20px;
    }
    #asb-logo-in-footer{
        width: 300px;
        margin-left: 20px;
        margin-top: 20px;
    }

    #sub-row-3>p{
        font-size: 17px;
        color: white;
        margin-top: 10px;
    }

    #div-of-facebook{
        margin-top: 10px;
    }
    #div-of-facebook>img{
        width: 25px;
        margin-left: 15px;
    }
    #div-of-instergram{
        margin-top: 10px;

    }
    #div-of-instergram>img{
        width: 25px;
        margin-left: 15px;
    }

    #div-of-twiter{
        margin-top: 10px;
    }
    #div-of-twiter>img{
        width: 25px;
        margin-left: 15px;
    }
    #sub-row-5>p{
        font-size: 10px;
        margin-top: 10px;
    }
    #footer-company-logo>img{
        width: 25px;

    }
    #footer-company-name>p{
        font-size: 10px;
        margin-top: 10px;
    }

}

/*footer css end*/
